<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Payroll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
         <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
 
    <add name="dbPayrollManagement" connectionString="Data Source=reaz-kalmilata;Initial Catalog=dbPayrollManagement;User Id=sa" providerName="System.Data.SqlClient" />
    <add name="dbmaster" connectionString="Data Source=reaz-kalmilata;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CL" value="10" />
    <add key="PL" value="18" />
    <add key="SL" value="14" />
      <add key="email" value="reazul@rangs.com.bd" />
    <add key="password" value="Exampass1" />
    <add key="startdate" value="Jan" /> <!--This for Starting Year it will  be Jan or Jul -->
    <add key="ReportPath" value="Reports\" />
    
    
    <add key="customSMTP" value="mail.rangs.com.bd" />
    <add key="customSMTPPORT" value="443" />
    <add key="customSSL" value="true" />
    <add key="exdate" value="31-Dec-2021" /> <!--Store in Dal Library-->
  </appSettings>
  <userSettings>
    <Payroll.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
    </Payroll.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>